@charset "UTF-8";

/* =========================================================
 Common
========================================================= */

/* Element
--------------------------------------------------------- */

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  font-size: 1.2rem;
  height: 100%;
  background-color: #f2f2f2;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}


/* Class
--------------------------------------------------------- */

.cm-clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.cm-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body > .container {
  height:auto;
}

/* Navigation
--------------------------------------------------------- */

.cm-navigation {
  float: left;
  width: 20%;
}

.cm-navigation .cm-logo {
  padding-left: 10px;
  padding-top: 10px;
  width: 50px;
}

.cm-navigation .cm-menu {
  padding-top: 30px;
}

.cm-navigation .cm-menu .cm-menu-item {
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2.0;
}

.cm-navigation .cm-menu .cm-menu-item .fa {
  margin-right: 5px;
}

/* =========================================================
 Private
========================================================= */

/* Common
--------------------------------------------------------- */
.tp-contents {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* Parts */
.tp-summary {
  float: left;
  background-color: #fff;
  width: 40%;
  height: 100%;
  padding-top: 10px;
}

/* Common
--------------------------------------------------------- */

/* Header */
.tp-summary .tp-header {
  width:100%;
  padding-left: 5%;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

.tp-summary .tp-header input {
  width: 90%;
}

/* Info */
.tp-summary h1 {
  font-size: 2.0rem;
}

.tp-summary .tp-summary-main {
    padding-top: 40px;
    padding-left: 5%;
}

.tp-summary .tp-summary-main .tp-info {
    padding-top: 15px;
    line-height: 1.5em;
    padding-bottom: 10px;
}

/* Form */
.tp-summary .tp-menu .tp-form {
    padding-bottom: 20px;
}

.tp-summary .tp-menu .tp-form input {
  width: 90%;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  line-height: 3em;
}

/* Table */
.tp-summary .tp-menu .tp-table .tp-row {
  width: 90%;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.tp-summary .tp-menu .tp-table .tp-row .tp-name {
  font-size: 1.8rem;
  line-height: 2.0em;
}

.tp-summary .tp-menu .tp-table .tp-row .tp-theme {
  font-size: 1.4rem;
  line-height: 2.3em;
}

/* Detail
--------------------------------------------------------- */

/* Common */
.tp-detail {
  float: left;
  background-color: #fff;
  border-left: 1px solid #aaa;
  width: 40%;
  height: 100%;
  padding-left: 1%;
  padding-top: 10px;
  padding-right: 1%;
}

.tp-detail h1 {
  font-size: 2.0rem;
}

.tp-detail h2 {
  font-size: 1.6rem;
}

/* Header */
.tp-detail .tp-header {
  background-color: #dcdddd;
  font-size: 1.8rem;
  line-height: 2.3em;
  border-radius: 4px;
  padding-left:10px;
}

/* Header */
.tp-detail .tp-info {
  margin-top: 20px;
  padding-left:10px;
  font-size: 1.4rem;
  line-height: 1.3em;
}

.tp-detail .tp-info .tp-theme {
  margin-top: 20px;
}
/* Theme */
.tp-detail .tp-theme-dialog {
  margin-top: 30px;
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 8px;
}

.tp-detail .tp-theme-dialog .tp-header {
  background-color: #eee;
  padding-left:10px;
}

.tp-detail .tp-theme-dialog .tp-dialog-form .tp-theme-input {
  border: none;
  width: 100%;
  height: 5rem;
  background-color: #fff;
}

/* Comment */
.tp-detail .tp-comments .tp-form .tp-comment-input {
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  color: #aaa;
  resize:none;
  width: 100%;
  line-height: 3rem;
  height: 5rem;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* Practice Menu */

.tp-detail .tp-comments {
  padding-top: 40px;
}

.tp-detail .tp-table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

.tp-detail .tp-table td {
  border-bottom: #aaa 1px solid;
  text-align: left;
  padding: 10px;
}

